/*html{font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;font-size:16px;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;box-sizing:border-box;}
*,*:before,*:after{box-sizing:border-box;margin:0;}
ul,ol,li{list-style:none;list-style-type:none;margin:0;padding:0;}
i.clear{clear:both;}
*/
.ivu-collapse-content{padding:0 !important;}
.ivu-collapse-content-box{padding:0 !important;}